* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  color: #fff;
}
.btn {
  display: block;
  margin-top: 0;
  padding: 16px 32px;
  background-color: #998675;
  font-family: Raleway;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn:hover {
  background-color: #b19b88;
  color: #fff;
  box-shadow: 0 0 5px #fff;
}
.head {
  margin: 0 auto;

  min-height: 1024px;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url(../pics/bg_photo1.png);
  background-size: cover;
}
.logo {
  display: flex;
  align-items: center;
}

.headcont {
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 270px;
  max-width: 850px;
  display: flex;
  justify-content: space-between;
}
.headlogo {
  display: block;
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-decoration: none;
}
.logohead {
  display: block;
}
.logopic {
  display: block;
}
.headnav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-burger {
  display: none;
}
.navlink {
  margin-right: 15px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
.navlink:hover {
  color: #c7b299;
  transition-duration: 0.4s;
}
.icon:hover {
  color: #c7b299;
  transition-duration: 0.4s;
}
.icon {
  margin: 0;
  margin-right: 5px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #ffffff;
}
.navicons {
  position: relative;
}
.searchinput {
  position: absolute;
  top: 0px;
  left: -75px;
  width: 100px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}
.searchinput:focus {
  outline: none;
  border-color: #8c8c8c;
}
.basket {
  position: absolute;
  top: 50px;
  left: -165px;
  padding: 10px;
  content: "";
  width: 200px;
  height: 200px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(51, 51, 51);
}
.basketcontainer {
  position: relative;
  display: flex;
}
.basketcontainer::before {
  position: absolute;
  top: -43px;
  right: -7px;
  content: " ";
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-bottom-color: white;
}
.basketpage {
  /* position: relative; */
  margin: 0;
  font-family: Montserrat;
  font-size: 16px;
  color: #8c8c8c;
}
.basketclose {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  font-family: Raleway;
  font-size: 20px;
  color: #555555;
  font-weight: 600;
}
.headoffer {
  max-width: 850px;
  margin: 0 auto;
  /* margin-left: 30%;
  margin-right: 30%; */
}
.headcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hiddenhead {
  display: none;
}
/* .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */

.carousel-control-prev-icon {
  position: absolute;
  left: -5px;
  top: 100px;
}
.carousel-control-next-icon {
  position: absolute;
  right: 5px;
  top: 100px;
}
.headofferdesc {
  margin-bottom: 12px;
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.headofferhead {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Raleway;
  text-align: center;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff;
}
.headoffertext {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: Montserrat;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}
.started {
  display: block;
  margin: auto;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
}
.getstarted {
  position: fixed;
  bottom: 10vh;
  margin-left: 33%;
  width: 500px;
  max-height: 500px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(51, 51, 51);
}
.contact {
  padding-bottom: 30px;
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: rgb(51, 51, 51);
}
.contactlabel {
  margin-right: 10px;
  font-family: Montserrat;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.myfield {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}
.myfield:focus {
  outline: none;
  border-color: #8c8c8c;
}
.getstartedbtn {
  margin-top: 20px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
}
.getstartedbtn:hover {
  box-shadow: 0 0 5px #b6a495;
}
.formclose {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  font-family: Raleway;
  font-size: 20px;
  color: #555555;
  font-weight: 600;
}
.startedhead {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.sectiongoods {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fff;
}
/* .goodscontainer {
  margin-top: 80px;
  margin-left: 18%;
  margin-right: 18%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
} */
.accordion {
  max-width: 1200px;
  margin: auto;
}
.goodsitem {
  width: 25%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.goodsitem:hover .goodlink {
  color: #c7b299;
  transition-duration: 0.4s;
}
.goodsitem:hover .goodhead {
  color: #c7b299;
  transition-duration: 0.4s;
}

.goodlink {
  margin-bottom: 16px;
  margin-right: 30px;
  display: block;
  font-size: 49px;
  color: #555555;
}
.goodhead {
  display: block;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 16px;
  text-decoration: none;
}
.accordion-body {
  /* margin-bottom: 30px; */
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  text-decoration: none;
}
.goodsitem::after {
  content: " ";
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  position: absolute;
  bottom: 1px;
  left: auto;
}
.goodsitem:hover::after {
  background-color: #c7b299;
  transition-duration: 0.4s;
}
.realization {
  margin: 0 auto;
  background-color: #fbfaf8;
}
.realizationcontainer {
  padding-top: 60px;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realizationhead {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.realizationtext {
  margin: 0;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}
.realizationpic {
  margin-top: 20px;
}
.wordpress {
  margin: 0 auto;
  background-color: #574036;
}
.presscontainer {
  padding-top: 45px;
  padding-bottom: 45px;
  max-width: 1200px;
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  justify-content: space-between;
}
.pressteam {
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}
.presstext {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  margin-top: 0;
  margin-bottom: 0;
}
.pressbutton {
  display: inline-flex;
  height: 50px;
  font-size: 14px;
  line-height: 23px;
  font-weight: 700;
}
.pressbutton:hover {
  transform: scale(1.2);
}

.wordpresspurchase {
  position: fixed;
  bottom: 20vh;
  left: 25%;
  min-width: 600px;

  padding: 50px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(51, 51, 51);
}
.purchasehead {
  display: flex;
  justify-content: space-between;
}
.choosetariff {
  max-width: 350px;
  font-family: Raleway;
  font-size: 30px;
  color: #555555;
}
.tariffitems {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.closepurchase {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  font-family: Raleway;
  font-size: 20px;
  color: #555555;
  font-weight: 600;
}
.purchasecontainer {
  display: flex;
  flex-direction: column;
}
.tariff {
  width: 60%;
  padding-bottom: 20px;
  font-family: Raleway;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin-bottom: 16px;
  text-decoration: none;
}
.price {
  padding-bottom: 15px;
  font-family: Montserrats;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
  color: #181717;
  margin-bottom: 16px;
  text-decoration: none;
}
.buybutton {
  padding: 5px 20px;
  width: 120px;
  height: 30px;
  font-size: 10px;
  line-height: 23px;
  font-weight: 800;
}

.project {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerhead {
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projecthead {
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.projecttext {
  margin-top: 0;
  margin-bottom: 45px;
  text-align: center;
  max-width: 757px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}
.itemphoto {
  background-color: #8c8c8c;
}
.buttoncontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.projectbutton {
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  padding: 3px 16px;
}
.projectbutton:hover {
  background-color: #998675;
  color: #fff;
  transition-duration: 0.4s;
}
.projectcontainer {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
}
.projectitem {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fbfaf8;
  position: relative;
}
.itempiclink {
  display: block;
}
.itemphoto {
  display: block;
}
.itemdiv {
  padding-top: 30px;
  position: relative;
}
.itemdiv::before {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0;
  border: 10px solid transparent;
  left: 19px;
  top: -19px;
  border-bottom-color: #fbfaf8;
}

.itemtextlink {
  margin-left: 30px;
  margin-bottom: 14px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  text-decoration: none;
}

.itemparag {
  margin-left: 30px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}
.projecthover {
  width: 100%;
  height: 237px;
  background-color: rgba(17, 17, 17, 0.7);
  position: absolute;
  padding: 106px 144px;
  opacity: 0;
}
.hoverchain {
  opacity: 0.7;
  font-size: 25px;
  color: #ffffff;
  margin-right: 10px;
}
.projectitem:hover .projecthover {
  opacity: 1;
  transition-duration: 0.4s;
}
.projectitem:hover {
  background-color: #362f2d;
  transition-duration: 0.4s;
}
.projectitem:hover .itemdiv::before {
  border-bottom-color: #362f2d;
  transition-duration: 0.4s;
}
.projectitem:hover .itemtextlink {
  color: #fff;
  transition-duration: 0.4s;
}
.projectitem:hover .itemparag {
  color: #c7b299;
  transition-duration: 0.4s;
}
.hoverchain:hover {
  color: #c7b299;
  transition-duration: 0.4s;
}
.upperfooter {
  min-height: 508px;
  background-color: #191919;
}
.uppercontainer {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
}
.upperitem {
  margin-right: 40px;
}

.footerwax {
  display: flex;
  align-items: center;
}
.footerwax:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.waxpic {
  display: block;
}
.upperlogo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
}
.onetext {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 33px;
}
.upperread {
  display: block;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
  position: relative;
}
.upperread::after {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #d1d1d1;
  position: absolute;
  top: 6px;
  left: 87px;
}
.upperread:hover {
  text-shadow: 0 0 5px #d1d1d1;
  transition-duration: 0.4s;
}
.upperhead {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 54px;
}

.onedate {
  display: block;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}
.onepost {
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.onepost::after {
  content: " ";
  height: 0;
  width: 100%;
  border: 0.5px solid transparent;
  border-bottom-color: #d1d1d1;
  opacity: 0.1;
  display: block;
  position: absolute;
  top: 115%;
}
.onepost:hover .onedate {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  transition-duration: 0.4s;
}
.onetext1 {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}
.onepost:hover .onetext1 {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  transition-duration: 0.4s;
}
mark {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #00bff3;
  background-color: transparent;
}
.onetime {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}
.widgetcont {
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.widlink {
  margin-right: 10px;
  margin-bottom: 10px;
}
.widlink:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}
.lowerfooter {
  min-height: 111px;
  background-color: #111111;
}
.lowercontainer {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lowernav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lowerlink {
  text-decoration: none;
  display: block;
  margin: 0px 10px;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
  position: relative;
}
.lowerlink::after {
  content: " ";
  display: block;
  height: 1em;
  width: 0;
  border: 1px solid transparent;
  border-right-color: #fff;
  position: absolute;
  right: -9px;
  top: 1px;
  opacity: 0.3;
}
.lowerlink:hover {
  color: #c7b299;
  transition-duration: 0.4s;
}
.credits {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hidden {
  display: none;
}
.fixed-page {
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 767px) {
  .head {
    padding-left: 10px;
    background-image: none;
    min-height: 0;
  }
  .menu-burger {
    margin-left: 10px;
    position: absolute;
    right: 10px;
    width: 40px; /* определяем размеры блока */
    height: 35px;
    display: block;
  }
  .logopic {
    height: 28px;
    width: 28px;
  }
  .headlogo {
    font-size: 24px;
  }
  .headnav {
    top: 50px;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    opacity: 1;
    transition: all 0.4s ease;
  }
  .btn {
    padding: 8px 16px;
  }
  .headcont {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .carousel-item {
    padding: 30px;
  }
  .headofferdesc {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .headofferhead {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .headoffertext {
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  /* .started {
    padding: 6px 20px;
    width: 140px;
    height: 35px;
    font-size: 10px;
    text-align: center;
    font-weight: 700;
  } */
  .sectiongoods {
    padding-top: 0;
    padding-bottom: 0;
  }
  .goodlink {
    font-size: 24px;
  }
  .goodhead {
    font-size: 14px;
  }
  .accordion-body {
    font-size: 14px;
  }
  .realizationcontainer {
    margin: 0;
    padding-top: 10px;
  }
  .realizationhead {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    text-align: center;
  }
  .realizationtext {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 14px;
  }
  .realizationpic {
    display: none;
  }
  .presscontainer {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  .pressteam {
    text-align: center;
  }
  .presstext {
    text-align: center;
    margin-bottom: 20px;
  }
  .pressbutton {
    height: auto;
  }
  .containerhead {
    margin-right: 10px;
    margin-left: 10px;
  }
  .projecthead {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .projecttext {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .projectcontainer {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
  .projectitem {
    width: 321px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .projecthover {
    display: none;
  }
  .itemphoto {
    width: 321px;
  }
  .itemdiv {
    padding-top: 10px;
  }
  .itemtextlink {
    font-size: 14px;
  }
  .itemparag {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .basket {
    position: absolute;
    top: -92vh;
    left: -43vw;
    width: 100vw;
    height: 100vh;
  }
  .basketcontainer {
    justify-content: space-between;
    overflow: hidden;
  }
  .getstarted {
    position: absolute;
    top: 0;
    left: -33vw;
    padding: 10px;
    width: 100vw;
    height: 100vh;
  }
  .startedhead {
    width: 80vw;
  }
  .contact {
    font-size: 24px;
    padding-bottom: 10px;
  }
  .myfield {
    width: 200px;
  }
  .wordpresspurchase {
    position: absolute;
    top: 230vh;
    left: 0;
    padding: 10px;
    min-width: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  .tariffitems {
    flex-direction: column;
  }
  .upperfooter {
    padding: 20px 10px;
  }
  .uppercontainer {
    flex-direction: column;
    padding-top: 0;
  }
  .upperitem:first-child {
    display: none;
  }
  .upperhead {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .onepost {
    max-width: none;
  }
  .lowercontainer {
    padding-top: 10px;
    flex-direction: column;
  }
  .lowernav {
    flex-direction: column;
  }
  .lowerlink::after {
    content: none;
  }
  .credits {
    flex-direction: column;
  }
  .hidden {
    display: none;
  }
}
